body {
   /*Isso tira as bordinhas brancas do site*/
   margin: 0;
   padding: 0;
}

* {
   /*Isso zera todos os espaços padrão do navegador.*/
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* HEADER */
.header {
   background-color: #0b0806;
   padding: 2vh 2vw;
   border-bottom: solid 0.1vh #b38148;
}

/*navbar*/
.header .navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 7vh;
}

.itensEsquerda, .itensDireita{
   display: flex;
   list-style: none; /*serve para tirar a bolinha do style*/
   gap: 4vw;
   position: static;
}


.header .navbar .logo {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   /*junto com o left, centraliza a logo exatamente no meio*/
   list-style: none;

}

.navbar a {
   display: inline-block;
   text-decoration: none;
   font-weight: 600;
   letter-spacing: 1px;
   color: #b38148;
   font-size: medium;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   transition: 0.2s;
}

.navbar a:hover {
   transform: scale(1.05);
   color: #a7937d;
}

#a_sair{
   cursor: pointer;
}

.footer {
   padding: 15px;
   background-color: #0B0806;
   display: flex;
   justify-content: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 50px;
   color: #bd7536;
}

.sessao{
   margin: 0;
   background: linear-gradient(0deg, rgb(17, 14, 12) 5%, rgba(11, 8, 6, 1) 65%);
   padding: 60px;
}

#sessaoDash{
   margin: 0;
   background: linear-gradient(0deg, rgb(17, 14, 12) 5%, rgba(11, 8, 6, 1) 65%);
   padding: 60px;
   min-height: 100vh;
}

canvas{
   max-width: 100%;
   max-height: 100%;
}

.grafico{
   width: 300px;
   height: 300px;
}

.card{
   display: flex;
   flex-direction: column;
   margin-bottom: 10vh;
   padding: 3vw;
   background-color: #0b0806;
   border: solid 1px #b38148;
   transition: 0.5s;
   color: #a7937d;
}

.titulo{
   display: flex;
   color: #b38148;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 3vw;
   margin-top: 7vh;
}

.subtitulo{
   color: #a7937d;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-bottom: 3vh;
}

#perfilCasa{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 2vw;
}

.resultadoUsuario{
   height: 70vh;
   width: 65vw;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}



.perfil{
   width:25vw;
}

#kpis{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   gap: 2vw;
   
}

#graficosGerais{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 2vw;
}

#graficosUsuario{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 2vw;
}

.grafico{
   width: 50vw;
   height: 68vh;
}
