
body{ /*Isso tira as bordinhas brancas do site*/
   margin: 0;
   padding: 0;
}

* { /*Isso zera todos os espaços padrão do navegador.*/
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* HEADER */

.header {
   background-color: #1b0f00;
   padding: 30px;
}

/*navbar*/
.header .navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative; 
}

.itensEsquerda, .itensDireita{
   display: flex;
   list-style: none; /*serve para tirar a bolinha do style*/
   gap: 80px;
}

.itensDireita{
   position: absolute; /*por ter colocado POSITION RELATIVE na navbar inteira, o absolute serve para deixar o item flutuando la no meio, o left define a posição dele*/
   left: 93%; /* 90% para deixa-lo com um gapzinho ali no final*/
}

.itensEsquerda{
   position: absolute;
   right: 65%;
}

.header .navbar .logo{
   position: absolute; 
   left: 50%;
   transform: translateX(-50%); /*junto com o left, centraliza a logo exatamente no meio*/

}

.navbar a{
   text-decoration: none;
   font-weight: 500;
   letter-spacing: 1px;
   color: #b38148;
   font-size: medium;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Banner*/
.banner img{
   width: 100%;
   margin-bottom: -4px;
}

.banner {
   position: relative;
}

.divSlogan{
   position: absolute;
   top: 40%;
   left: 5%; /* empurra pra dentro da tela */
   transform: translateY(-50%);
}

.divSlogan h1{
   color: #b38148;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 60px;
   font-weight: 400;
}

.divSlogan p{
   color: #b38148;
   font-size: 15px;
   max-width: 500px;/*limita até onde vai o texto*/
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
   width: 200px;
   height: 70px;

   border-radius: 50px;
}

.button :hover{
   /*fazer oq o max falou de coisar quando passa o mouse*/
}

.divSlogan .button{
   background-color: #b38148;
   
   color: #171515;
   font-size: 30px;
   font-weight: 500;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Sessão 1*/

.sessao1{
   margin: 0;
   background-color: #1b0f00;
   padding: 60px;
}

.conteudo1{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.conteudo1 h1{
   color: #b38148;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 60px;
   font-weight: 400px;
   text-align: center;
   margin-bottom: 50px;
}

.textinho{
   display: flex;
   justify-content: center;
   flex-direction: column;
   
}


.textinho h1{
   color: #b38148;
   font-size: 50px;
   
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align: justify;
   text-align: center;
}

.textinho p{
   color: #c8af91;
   font-size: 30px;
   max-width: 700px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align: justify;
}
   
.textinho button{
   background-color: #b38148;
   color: #171515;
   font-size: 30px;
   font-weight: 500;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   align-items: center;
  
   
}




.conteudo2 img{
   max-width: 300px;
}












.footer{
   padding: 15px;
   background-color: #171515;
   display: flex;
   justify-content: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 50px;
   color: #bd7536;
}





